<div class="card articleInfo">
    <!--Property binding permet de récupérer grâce aux crochets les val contenues ds article.comp.ts pr: src et alt-->
    <img [src]="urlImg" [alt]="textAltImg">
    <div class="card-body">
        <h5 class="card-title" [ngStyle]="{ color : getColor()}"> 
            {{ titreArticle }} 
            <span *ngIf="dispo === false"> - Indisponible</span>
        </h5>
        <h6 class="card-title"> {{ prixArticle }} &euro;</h6>
        <p class="card-text"> {{ description }} </p>

        <button>Me gusta</button>
        <button class="noLike">No me gusta</button>
        <!--<button class="btn btn-primary" (click)="onLike()">Me gusta</button>-->
        <p>Nb like : {{ totalNbLike }} </p>

        <!--Two-way binding va permettre de renvoyer des infos vers le TypeScript-->
        <input type="text" placeholder="Ecris un commentaire" [(ngModel)]="comment">
        <p>COMMENTAIRE : {{ comment }} </p>
    </div>
</div>
